include README.md
include README_PyPI.md
include INSTALL_TEST_PYPI.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
include MANIFEST.in
include restapi.py
include example.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
global-exclude .DS_Store 